n8n/dynex-briefing-approval-workflow.json
{
  "name": "Dynex MBS — Briefing Approval",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "briefing-approval",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Briefing Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "dynex-briefing-approval"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\": true, \"message\": \"Briefing received. CFO notified.\", \"briefing_id\": \"{{ $json.briefing_id }}\"}",
        "options": {}
      },
      "id": "immediate-response",
      "name": "Respond Immediately",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wait-node",
      "name": "CFO Review Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [460, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://hyperplane-service-f49ba0a3.hyperplane-pipelines.svc.cluster.local:8787/api/briefing-status",
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"briefing_id\": \"{{ $('Briefing Approval Webhook').item.json.briefing_id }}\",\n  \"approved\": true,\n  \"approver_name\": \"Mike Sartori (CFO)\"\n}",
        "options": {}
      },
      "id": "post-approval",
      "name": "Post CFO Approval to App",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 420]
    }
  ],
  "connections": {
    "Briefing Approval Webhook": {
      "main": [
        [
          { "node": "Respond Immediately", "type": "main", "index": 0 },
          { "node": "CFO Review Delay", "type": "main", "index": 0 }
        ]
      ]
    },
    "CFO Review Delay": {
      "main": [
        [{ "node": "Post CFO Approval to App", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["dynex", "poc", "mbs"],
  "pinData": {}
}
